# DB
NUXT_DB_HOST=localhost
NUXT_DB_NAME=budget-app
NUXT_DB_USER=budget-app
NUXT_DB_PASSWORD=change-me

NUXT_OAUTH_GITHUB_CLIENT_ID=change-me
NUXT_OAUTH_GITHUB_CLIENT_SECRET=change-me

# session password will be auto generated when running "pnpm dev"
# NUXT_SESSION_PASSWORD=b655b111d8054068a10bbb431d92db09