version: "3"

services:
  backend:
    build: ./backend
    image: larsrickert/budget-app-backend
    restart: unless-stopped
    # ports:
    #   - "8090:8090"
    environment:
      VIRTUAL_HOST: "${BACKEND_DOMAIN}"
      LETSENCRYPT_HOST: "${BACKEND_DOMAIN}"
    volumes:
      - ./docker-data/pocketbase:/app/pb_data

networks:
  default:
    name: nginx-proxy
    external: true
