@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      "base": #72afd3,
    ),
  )
);

@use "element-plus/theme-chalk/src/index.scss" as *;

@use "@fontsource/montserrat/latin";
@use "mixins";
@use "variables";
@use "fonts";
@use "layouts";

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  color: var(--el-text-color-regular);
  overscroll-behavior: none;
  background-color: var(--el-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--el-text-color-primary);
}
