@use "mixins" as *;

.page {
  &__content {
    padding: var(--app-space-3);
    // smaller top padding since header already has a bottom shape
    padding-top: var(--app-space-2);

    @include breakpoint(s) {
      padding: var(--app-space-2);
      padding-top: 0;
    }
  }
}

.grid {
  display: grid;
  column-gap: var(--app-space-4);

  &--2 {
    grid-template-columns: 1fr 1fr;

    @include breakpoint(m, max) {
      grid-template-columns: 1fr;
    }
  }
}

.el-popconfirm {
  &__main {
    word-break: break-word;
    text-align: left;
    gap: var(--app-space-1);
  }
}

.el-upload {
  &__text {
    word-break: break-word;
  }
}

.el-popper {
  max-width: 100%;
}

.el-select {
  &--full-width {
    width: 100%;
  }
}

.el-date-editor {
  &.el-input {
    width: 100% !important;
  }

  .el-input__wrapper {
    // prefix icon has width of 22px
    width: calc(100% - 22px);
  }
}

// fix datepicker width on small screens
.el-picker__popper.el-popper {
  max-width: calc(100% - 24px);

  @include breakpoint(s) {
    max-width: calc(390px - 24px);
  }
}
.el-date-picker {
  &.has-sidebar {
    max-width: 100%;

    @include breakpoint(s) {
      max-width: calc(390px - 24px);
    }
  }

  &__header-label {
    @include breakpoint(s) {
      font-size: 13px !important;
    }
  }

  .el-picker-panel {
    &__content {
      // 8px margin left and right
      max-width: calc(100% - 16px);

      @include breakpoint(s) {
        margin: 15px 8px;
      }
    }

    &__icon-btn {
      @include breakpoint(s) {
        padding: 0 5px;
      }

      &:first-child {
        @include breakpoint(s) {
          padding-left: 0;
        }
      }
    }
  }
}

.el-dialog {
  max-width: 95%;
}
