$fontWeights: (300, regular, 500, 600, 700, 800);

@each $weight in $fontWeights {
  @font-face {
    font-family: "Open Sans";
    src: url("~/assets/fonts/OpenSans/open-sans-v34-latin-#{$weight}.woff")
        format("woff"),
      url("~/assets/fonts/OpenSans/open-sans-v34-latin-#{$weight}.woff2")
        format("woff2");
    font-weight: #{$weight};
    font-style: normal;
    font-display: swap;
  }
}

body {
  font-family: "Open Sans", sans-serif;
}
